SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=task_management
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

TIME_ZONE=Asia/Tashkent
LANGUAGE_CODE=en

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

